<?xml version="1.0"?>
<config>
    <modules>
        <Swarming_RiseLmsProduct>
            <version>1.0.0</version>
        </Swarming_RiseLmsProduct>
    </modules>
    <global>
        <blocks>
            <riselms_product>
                <class>Swarming_RiseLmsProduct_Block</class>
            </riselms_product>
        </blocks>
        <models>
            <riselms_product>
                <class>Swarming_RiseLmsProduct_Model</class>
            </riselms_product>
            <catalog>
                <rewrite>
                    <product>Swarming_RiseLmsProduct_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <riselms_product>
                <class>Swarming_RiseLmsProduct_Helper</class>
            </riselms_product>
        </helpers>
        <catalog>
            <product>
                <type>
                    <riselms translate="label" module="riselms_product">
                        <label>RiseLMS Product</label>
                        <model>riselms_product/product_type</model>
                        <price_model>riselms_product/product_price</price_model>
                        <composite>0</composite>
                        <index_priority>25</index_priority>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                        <is_qty>1</is_qty>
                    </riselms>
                </type>
            </product>
        </catalog>
        <resources>
            <riselms_product_setup>
                <setup>
                    <module>Swarming_RiseLmsProduct</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </riselms_product_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <riselms_product>
                    <file>swarming/riselms_product.xml</file>
                </riselms_product>
            </updates>
        </layout>
        <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <riselms_product>
                        <class>riselms_product/observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                    </riselms_product>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </frontend>
</config>