<?xml version="1.0"?>
<config>
    <modules>
        <Sarus_SsoIdp>
            <version>0.1.0</version>
        </Sarus_SsoIdp>
    </modules>
    <global>
        <models>
            <sarus_ssoidp>
                <class>Sarus_SsoIdp_Model</class>
                <resourceModel>sarus_ssoidp_resource</resourceModel>
            </sarus_ssoidp>
            <sarus_ssoidp_resource>
                <class>Sarus_SsoIdp_Model_Resource</class>
            </sarus_ssoidp_resource>
        </models>
        <blocks>
            <sarus_ssoidp>
                <class>Sarus_SsoIdp_Block</class>
            </sarus_ssoidp>
        </blocks>
        <helpers>
            <sarus_ssoidp>
                <class>Sarus_SsoIdp_Helper</class>
            </sarus_ssoidp>
        </helpers>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <sarus_ssoidp>
                        <type>singleton</type>
                        <class>sarus_ssoidp/observer_registerVendorAutoload</class>
                        <method>execute</method>
                    </sarus_ssoidp>
                </observers>
            </core_collection_abstract_load_before>
            <resource_get_tablename>
                <observers>
                    <sarus_ssoidp>
                        <type>singleton</type>
                        <class>sarus_ssoidp/observer_registerVendorAutoload</class>
                        <method>execute</method>
                    </sarus_ssoidp>
                </observers>
            </resource_get_tablename>
            <add_spl_autoloader>
                <observers>
                    <sarus_ssoidp>
                        <type>singleton</type>
                        <class>sarus_ssoidp/observer_registerVendorAutoload</class>
                        <method>execute</method>
                    </sarus_ssoidp>
                </observers>
            </add_spl_autoloader>
        </events>
    </global>
    <frontend>
        <routers>
            <sarus_ssoidp>
                <use>standard</use>
                <args>
                    <module>Sarus_SsoIdp</module>
                    <frontName>sso</frontName>
                </args>
            </sarus_ssoidp>
            <customer>
                <args>
                    <modules>
                        <Sarus_SsoIdp before="Mage_Customer">Sarus_SsoIdp</Sarus_SsoIdp>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <sarus_ssoudp>
                    <file>sarus/ssoidp.xml</file>
                </sarus_ssoudp>
            </updates>
        </layout>
    </frontend>
    <default>
        <sarus_ssoidp>
            <general>
                <enabled_slo>1</enabled_slo>
                <entity_id>sarus_ssoidp/idp/metadata</entity_id>
                <metadata_url>sarus_ssoidp/idp/metadata</metadata_url>
                <single_sing_on_url>sarus_ssoidp/idp/signon</single_sing_on_url>
                <single_logout_url>sarus_ssoidp/idp/logout</single_logout_url>
                <allowed_seconds_skew>120</allowed_seconds_skew>
            </general>
            <security>
                <want_authn_signed>1</want_authn_signed>
                <want_logout_request_signed>1</want_logout_request_signed>
                <want_logout_response_signed>1</want_logout_response_signed>
                <assertion_encrypted>0</assertion_encrypted>
                <assertion_signed>1</assertion_signed>
                <messages_signed>1</messages_signed>
                <signature_algorithm>http://www.w3.org/2000/09/xmldsig#rsa-sha1</signature_algorithm>
                <digest_algorithm>http://www.w3.org/2000/09/xmldsig#sha1</digest_algorithm>
                <encrypted_method_key>http://www.w3.org/2001/04/xmlenc#rsa-1_5</encrypted_method_key>
                <encrypted_method_data>http://www.w3.org/2001/04/xmlenc#aes128-cbc</encrypted_method_data>
            </security>
            <sp>
                <name_id>email</name_id>
                <assertion_consumer_binding>urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST</assertion_consumer_binding>
            </sp>
        </sarus_ssoidp>
    </default>
</config>
