<?xml version="1.0"?>
<config>
    <modules>
        <Swarming_RiseLms>
            <version>0.1.0</version>
        </Swarming_RiseLms>
    </modules>
    <global>
        <models>
            <swarming_riselms>
                <class>Swarming_RiseLms_Model</class>
                <resourceModel>swarming_riselms_resource</resourceModel>
            </swarming_riselms>
            <swarming_riselms_resource>
                <class>Swarming_RiseLms_Model_Resource</class>
                <entities>
                    <riselms_submission>
                        <table>riselms_submission</table>
                    </riselms_submission>
                </entities>
            </swarming_riselms_resource>
        </models>
        <blocks>
            <swarming_riselms>
                <class>Swarming_RiseLms_Block</class>
            </swarming_riselms>
        </blocks>
        <helpers>
            <swarming_riselms>
                <class>Swarming_RiseLms_Helper</class>
            </swarming_riselms>
        </helpers>
        <resources>
            <swarming_riselms_setup>
                <setup>
                    <module>Swarming_RiseLms</module>
                </setup>
            </swarming_riselms_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <rise_course_uuid>
                    <to_order_item>*</to_order_item>
                </rise_course_uuid>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <rise_course_uuid>
                    <to_quote_item>*</to_quote_item>
                </rise_course_uuid>
            </sales_convert_order_item>
        </fieldsets>
        <catalog>
            <product>
                <type>
                    <riselms translate="label">
                        <label>RiseLMS Product</label>
                        <model>swarming_riselms/product_type</model>
                        <composite>0</composite>
                        <index_priority>25</index_priority>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                        <is_qty>1</is_qty>
                    </riselms>
                </type>
            </product>
        </catalog>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <rise_course_uuid/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <checkout_allow_guest>
                <observers>
                    <swarming_riselms>
                        <type>singleton</type>
                        <class>swarming_riselms/observer_checkout_allowGuest</class>
                        <method>execute</method>
                    </swarming_riselms>
                </observers>
            </checkout_allow_guest>
            <sales_quote_item_set_product>
                <observers>
                    <swarming_riselms>
                        <type>model</type>
                        <class>swarming_riselms/observer_sales_quoteItem_setProduct</class>
                        <method>execute</method>
                    </swarming_riselms>
                </observers>
            </sales_quote_item_set_product>
            <sales_quote_item_qty_set_after>
                <observers>
                    <riselms_product>
                        <class>swarming_riselms/observer_sales_quoteItem_setQtyAfter</class>
                        <method>execute</method>
                    </riselms_product>
                </observers>
            </sales_quote_item_qty_set_after>
            <sales_order_place_after>
                <observers>
                    <swarming_riselms>
                        <type>singleton</type>
                        <class>swarming_riselms/observer_sales_order_placeAfter</class>
                        <method>execute</method>
                    </swarming_riselms>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <swarming_riselms>
                        <type>singleton</type>
                        <class>swarming_riselms/observer_Sales_Creditmemo_Refund</class>
                        <method>execute</method>
                    </swarming_riselms>
                </observers>
            </sales_order_creditmemo_refund>
            <catalog_product_delete_before>
                <observers>
                    <swarming_riselms>
                        <class>swarming_riselms/observer_Catalog_ProductDeleteBefore</class>
                        <method>execute</method>
                    </swarming_riselms>
                </observers>
            </catalog_product_delete_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <swarming_riselms>
                    <file>swarming/riselms.xml</file>
                </swarming_riselms>
            </updates>
        </layout>
        <routers>
            <swarming_riselms>
                <use>standard</use>
                <args>
                    <module>Swarming_RiseLms</module>
                    <frontName>riselms</frontName>
                </args>
            </swarming_riselms>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <riselms_unsynced_products_catalog>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run>
                    <model>swarming_riselms/cron_submissionQueue::execute</model>
                </run>
            </riselms_unsynced_products_catalog>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <swarming_buzzi>
                    <file>swarming/riselms.xml</file>
                </swarming_buzzi>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Swarming_RiseLms before="-">Swarming_RiseLms_Adminhtml</Swarming_RiseLms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <swarming_riselms>
            <general>
                <enabled>1</enabled>
                <my_courses>1</my_courses>
            </general>
            <api>
                <max_time_resend>5</max_time_resend>
            </api>
        </swarming_riselms>
    </default>
</config>
