<?xml version="1.0"?>
<config>
    <modules>
        <Swarming_RiseLms>
            <version>0.1.3</version>
        </Swarming_RiseLms>
    </modules>
    <global>
        <models>
            <swarming_riselms>
                <class>Swarming_RiseLms_Model</class>
                <resourceModel>swarming_riselms_resource</resourceModel>
            </swarming_riselms>
            <swarming_riselms_resource>
                <class>Swarming_RiseLms_Model_Resource</class>
                <entities>
                    <riselms_submissionqueue>
                        <table>riselms_submissionqueue</table>
                    </riselms_submissionqueue>
                </entities>
            </swarming_riselms_resource>
            <elistrak>
                <rewrite>
                    <order>Swarming_RiseLms_Model_Sales_Order</order>
                </rewrite>
            </elistrak>
        </models>
        <blocks>
            <swarming_riselms>
                <class>Swarming_RiseLms_Block</class>
            </swarming_riselms>
        </blocks>
        <helpers>
            <swarming_riselms>
                <class>Swarming_RiseLms_Helper</class>
            </swarming_riselms>
        </helpers>
        <resources>
            <swarming_riselms_setup>
                <setup>
                    <module>Swarming_RiseLms</module>
                </setup>
            </swarming_riselms_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <rise_course_uuid>
                    <to_order_item>*</to_order_item>
                </rise_course_uuid>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <rise_course_uuid>
                    <to_quote_item>*</to_quote_item>
                </rise_course_uuid>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <rise_course_uuid/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <swarming_riselms>
                        <type>model</type>
                        <class>swarming_riselms/observer</class>
                        <method>setRiseUuidOnQuoteItem</method>
                    </swarming_riselms>
                </observers>
            </sales_quote_item_set_product>
            <catalog_product_delete_before>
                <observers>
                    <swarming_riselms>
                        <class>swarming_riselms/observer</class>
                        <method>onProductDeleteBeforeUnlink</method>
                    </swarming_riselms>
                </observers>
            </catalog_product_delete_before>
            <!--<checkout_allow_guest>-->
                <!--<observers>-->
                    <!--<checkout_allow_guest>-->
                        <!--<class>swarming_riselms/observer</class>-->
                        <!--<method>isAllowedGuestCheckout</method>-->
                    <!--</checkout_allow_guest>-->
                <!--</observers>-->
            <!--</checkout_allow_guest>-->
            <sales_order_place_after>
                <observers>
                    <swarming_riselms>
                        <type>singleton</type>
                        <class>swarming_riselms/observer</class>
                        <method>checkProductsAfterPurchase</method>
                    </swarming_riselms>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <swarming_riselms>
                        <type>singleton</type>
                        <class>swarming_riselms/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </swarming_riselms>
                </observers>
            </sales_order_creditmemo_refund>

        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <swarming_riselms>
                    <file>swarming/riselms.xml</file>
                </swarming_riselms>
            </updates>
        </layout>
        <routers>
            <swarming_riselms>
                <use>standard</use>
                <args>
                    <module>Swarming_RiseLms</module>
                    <frontName>riselms</frontName>
                </args>
            </swarming_riselms>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <riselms_unsynced_products_catalog>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run>
                    <model>swarming_riselms/observer::syncSubmissionQueue</model>
                </run>
            </riselms_unsynced_products_catalog>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Swarming_RiseLms before="-">Swarming_RiseLms_Adminhtml</Swarming_RiseLms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>