<?xml version="1.0"?>
<config>
    <modules>
        <Swarming_Sarus>
            <version>0.1.0</version>
        </Swarming_Sarus>
    </modules>
    <global>
        <models>
            <swarming_sarus>
                <class>Swarming_Sarus_Model</class>
                <resourceModel>swarming_sarus_resource</resourceModel>
            </swarming_sarus>
            <swarming_sarus_resource>
                <class>Swarming_Sarus_Model_Resource</class>
                <entities>
                    <sarus_submission>
                        <table>sarus_submission</table>
                    </sarus_submission>
                </entities>
            </swarming_sarus_resource>
        </models>
        <blocks>
            <swarming_sarus>
                <class>Swarming_Sarus_Block</class>
            </swarming_sarus>
        </blocks>
        <helpers>
            <swarming_sarus>
                <class>Swarming_Sarus_Helper</class>
            </swarming_sarus>
        </helpers>
        <resources>
            <swarming_sarus_setup>
                <setup>
                    <module>Swarming_Sarus</module>
                </setup>
            </swarming_sarus_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <sarus_course_uuid>
                    <to_order_item>*</to_order_item>
                </sarus_course_uuid>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <sarus_course_uuid>
                    <to_quote_item>*</to_quote_item>
                </sarus_course_uuid>
            </sales_convert_order_item>
        </fieldsets>
        <catalog>
            <product>
                <type>
                    <sarus translate="label">
                        <label>Sarus Product</label>
                        <model>swarming_sarus/product_type</model>
                        <composite>0</composite>
                        <index_priority>25</index_priority>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                        <is_qty>1</is_qty>
                    </sarus>
                </type>
            </product>
        </catalog>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <sarus_course_uuid/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <checkout_allow_guest>
                <observers>
                    <swarming_sarus>
                        <type>singleton</type>
                        <class>swarming_sarus/observer_checkout_allowGuest</class>
                        <method>execute</method>
                    </swarming_sarus>
                </observers>
            </checkout_allow_guest>
            <sales_quote_item_set_product>
                <observers>
                    <swarming_sarus>
                        <type>model</type>
                        <class>swarming_sarus/observer_sales_quoteItem_setProduct</class>
                        <method>execute</method>
                    </swarming_sarus>
                </observers>
            </sales_quote_item_set_product>
            <sales_quote_item_qty_set_after>
                <observers>
                    <sarus_product>
                        <class>swarming_sarus/observer_sales_quoteItem_setQtyAfter</class>
                        <method>execute</method>
                    </sarus_product>
                </observers>
            </sales_quote_item_qty_set_after>
            <sales_order_place_after>
                <observers>
                    <swarming_sarus>
                        <type>singleton</type>
                        <class>swarming_sarus/observer_sales_order_placeAfter</class>
                        <method>execute</method>
                    </swarming_sarus>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <swarming_sarus>
                        <type>singleton</type>
                        <class>swarming_sarus/observer_Sales_Creditmemo_Refund</class>
                        <method>execute</method>
                    </swarming_sarus>
                </observers>
            </sales_order_creditmemo_refund>
            <catalog_product_delete_before>
                <observers>
                    <swarming_sarus>
                        <class>swarming_sarus/observer_Catalog_ProductDeleteBefore</class>
                        <method>execute</method>
                    </swarming_sarus>
                </observers>
            </catalog_product_delete_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <swarming_sarus>
                    <file>swarming/sarus.xml</file>
                </swarming_sarus>
            </updates>
        </layout>
        <routers>
            <swarming_sarus>
                <use>standard</use>
                <args>
                    <module>Swarming_Sarus</module>
                    <frontName>sarus</frontName>
                </args>
            </swarming_sarus>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <sarus_unsynced_products_catalog>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run>
                    <model>swarming_sarus/cron_submissionQueue::execute</model>
                </run>
            </sarus_unsynced_products_catalog>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <swarming_buzzi>
                    <file>swarming/sarus.xml</file>
                </swarming_buzzi>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Swarming_Sarus before="-">Swarming_Sarus_Adminhtml</Swarming_Sarus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <swarming_sarus>
            <general>
                <enabled>1</enabled>
                <my_courses>1</my_courses>
            </general>
            <api>
                <auth_token backend_model="adminhtml/system_config_backend_encrypted"/>
                <max_time_resend>5</max_time_resend>
                <base_url>https://api.sarus.io</base_url>
            </api>
        </swarming_sarus>
    </default>
</config>
