<?xml version="1.0"?>
<config>
    <tabs>
        <sarus translate="label">
            <label>Sarus</label>
            <sort_order>900</sort_order>
        </sarus>
    </tabs>
    <sections>
        <sarus_sarus translate="label">
            <label>Sarus</label>
            <tab>sarus</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <my_courses translate="label">
                            <label>My Courses Enabled</label>
                            <comment><![CDATA[A section called My Courses will appear under My Account. This section lists all courses that have been purchased by a customer.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </my_courses>
                        <sarus_base_url translate="label comment">
                            <label>Sarus Base URL</label>
                            <comment>Base URL for Sarus install. i.e. http://mycompany.sarus.io</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sarus_base_url>
                    </fields>
                </general>
                <api translate="label">
                    <label>API Config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <base_url translate="label comment">
                            <label>API Base URL</label>
                            <comment>Base URL for Sarus API. i.e. https://api.sarus.io</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </base_url>
                        <auth_token translate="label">
                            <label>Authorization Token</label>
                            <comment><![CDATA[The Authorization Token for API access is supplied by Sarus.]]></comment>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auth_token>
                        <debug translate="label">
                            <label>Debug Mode</label>
                            <comment><![CDATA[Enabling this option will log all API requests to a log file named sarus_api_status.log.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                        <notification_recipient translate="label">
                            <label>Notification Recipients</label>
                            <comment><![CDATA[This is a comma separated list of email addresses that will receive a notification when a request to Sarus fails. If no notifications are desired, leave this field blank.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </notification_recipient>
                        <max_time_resend translate="label comment">
                            <label>Maximum Resend Attempts</label>
                            <comment>The maximum number of times failed submissions will attempt to be sent. Leave empty or enter 0 for unlimited attempts.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_time_resend>
                    </fields>
                </api>
            </groups>
        </sarus_sarus>
    </sections>
</config>
